body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #1597c6, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p{
	color:white;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	margin: 40vh auto;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.874);
	transition: text-shadow 0.3s ease-in ;
}


  
  ul {
	position:absolute;
	top:60%;
	left:50%;
	transform: translate(-50%, -50%);
	margin:0;
	padding:0;
	display:flex;
  }
  
  ul li {
	list-style: none;
  }
  
  ul li a {
	position: relative;
	width:60px;
	height:60px;
	display:block;
	text-align:center;
	margin:0 10px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
  }
  
  ul li a:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
  }
  
  ul li a .fab {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	color: #262626;
	transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fab {
	color: #3516e8;
  }
  
  ul li:nth-child(2) a:hover .fab {
	color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fab {
	color: #191ddc;
  }
  
  ul li:nth-child(4) a:hover .fab {
	color: #007bb6;
  }
  
  ul li:nth-child(5) a:hover .fab {
	color: #e4405f;
  }


  @media screen and (max-width:425px){
    body{
		scroll-behavior: hide;
		background-color: red;
	}
	p{
		font-size: 30px;
	}
    ul{
		width: auto;
	}
  }
    